#photo-1 {
    background-image: url("https://images.pexels.com/photos/209230/pexels-photo-209230.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

#photo-2 {
    background-image: url("https://images.pexels.com/photos/1173735/pexels-photo-1173735.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

#photo-3 {
    background-image: url("https://images.pexels.com/photos/162540/career-firefighter-relaxing-job-162540.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

#photo-4 {
    background-image: url("https://images.pexels.com/photos/70573/fireman-firefighter-rubble-9-11-70573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

#photo-5 {
    background-image: url("https://images.pexels.com/photos/37543/firefighters-training-live-fire-37543.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

#photo-6 {
    background-image: url("https://images.pexels.com/photos/36429/firefighters-equipment-portrait-training.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}